In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_table_df = pd.read_csv('sample_upload.csv')
sample_table_df

,segment,antecedentIds,antecedentNames,consequentIds,consequentNames,confidence
0,Videos,"6304401132, 6303929338, 078881172X","Mulan, Hercules, Lion King",788812408,Alladin,1
1,Videos,"6304401132, 6303929338","Mulan, Hercules","078881172X, 0788812408","Alladin, Little Mermaid",1
2,Videos,"6303929338, 0788812408","Mulan, Hercules","6304401132, 078881172X","Alladin, Little Mermaid",1

In [4]:
sample_table_df.head(1)['antecedentIds']

0    6304401132, 6303929338, 078881172X
Name: antecedentIds, dtype: object

In [5]:
sample_table_df.to_json(r'apriori-static/js/sample_table.json',orient='records')